---
import Layout from "../../layouts/Layout.astro";
import ShowCardLibrary from "../../layouts/ShowCardLibrary.astro";
// import Svelte
import LibraryPage from "../../components/svelte/Page/LibraryPage.svelte";
import CircleCarousel from "../../components/svelte/CircleCarousel.svelte";
// import module
import { LinkType, type LibInfo } from "../../components/svelte/type";


const lib: LibInfo[] = [
  {
    titre: "Carousel en cercle",
    logo: ["svelte", "react"],
    description:
      "Le composant gère automatiquement le passage d'une image à l'autre avec un effet de fondu circulaire, en ajustant les dimensions et la position des images.",
    linkBox: [
      {
        type: LinkType.GitHub,
        link: "https://github.com/SalvadorGriaule/CarouselCircle",
      },
      {
        type: LinkType.GitHub,
        link: "https://github.com/SalvadorGriaule/CircleCarouselReact",
      },
    ],
  },
  {
    titre: "Uploader en Drag and Drop",
    logo: ["svelte", "vuejs"],
    description:
      "Ce composant est un Dropzone personnalisé permettant le téléchargement de fichiers avec plusieurs fonctionnalités avancées.",
    linkBox: [
      {
        type: LinkType.GitHub,
        link: "https://github.com/SalvadorGriaule/FileUploader",
      },
    ],
  },
];
---

<Layout>
  <LibraryPage client:load lib={lib} />
  <ShowCardLibrary
    title={lib[0].titre}
    description={lib[0].description}
    fw={lib[0].logo}
    linkSlice={lib[0].linkBox}
  >
    <CircleCarousel urlArr={imgHolder} {currentImg} dim={500} />
    <div class="mt-4 flex space-x-2 justify-center">
      <button
        onclick={() => onclickCircle(0)}
        class="p-2 bg-linear-to-l from-blue-300/30 to-blue-400/30 rounded-2xl"
        >1</button
      ><button
        onclick={() => onclickCircle(1)}
        class="p-2 bg-linear-to-l from-blue-400/30 to-blue-500/30 rounded-2xl"
        >2</button
      >
      <button
        onclick={() => onclickCircle(2)}
        class="p-2 bg-linear-to-l from-blue-500/30 to-blue-600/30 rounded-2xl"
        >3</button
      >
    </div>
  </ShowCardLibrary>
</Layout>
