---
import type { LinkSlice } from "@svelte/type";
import LogoLib from "@svelte/LogoLib.svelte";
import LinkBox from "@svelte/LinkBox.svelte";

interface Props {
  id: number;
  title: string;
  description: string;
  fw: ("svelte" | "vuejs" | "react" | "ts")[];
  linkSlice: LinkSlice[][];
}

const { title, description, fw, linkSlice, id } = Astro.props;
---

<section
  id={"lib" + id}
  class="h-fit bg-linear-to-br from-neutral-300/30 to-neutral-500/30 rounded-md m-2 p-2 backdrop-blur-md"
>
  <div class="flex justify-between items-center mb-1">
    <h3 class="text-2xl font-semibold">{title}</h3>
    <button
      class="return flex justify-center items-center bg-red-800 border border-red-500 p-2 rounded-2xl text-white hover:bg-red-200 hover:text-red-800 duration-100"
    >
      <p>Retour ⤾</p>
    </button>
  </div>
  <div
    class="relative flex flex-col justify-center items-center w-full bg-linear-to-br from-neutral-900/70 to-neutral-950/30 rounded-md py-10 md:p-10"
  >
    {
      fw.length > 1 && (
        <div class="absolute top-[86.5%] right-2 ml-2 bg-linear-to-br from-neutral-300/30 to-neutral-500/30 rounded-md p-2 backdrop-blur-md md:ml-5 md:right-auto md:left-12 md:top-1/2 md:-translate-1/2">
          <div class="switch relative flex items-center bg-linear-to-br from-neutral-700/60 to-neutral-800/40 rounded-md p-1 md:flex-col">
            <div class="switcher absolute top-1.5 w-[52px] h-[52px] rounded-md bg-linear-to-br from-neutral-300/40 to-neutral-400/30 md:top-2 md:w-24 md:h-24 md:-translate-x-1/2" />
            {fw.map((elem) => (
              <div data-fw={elem} class="fw md:h-24">
                <LogoLib
                  name={elem}
                  classL="h-[3.5em] w-[3.5em] p-[0.65em] md:h-[6em] md:w-[6em] md:p-[1.5em] md:min-w-fit"
                  mode="no-link"
                />
              </div>
            ))}
          </div>
        </div>
      )
    }
    <div class="slotCard w-7/8 flex justify-center md:w-3/5 xl:w-1/2">
      <slot />
    </div>
  </div>
  <div class="flex flex-col md:items-center md:flex-row">
    <p class="text-xl p-2 md:w-3/5 md:p-0">
      {description}
    </p>
    <div
      class="p-2 mt-2 flex flex-col items-start md:border-s-2 md:border-black md:w-2/5"
    >
      <h5 class="text-2xl">Compatible avec</h5>
      <div class="flex flex-col justify-center my-3 space-y-2">
        {
          fw.map((item, i) => (
            <div class="flex items-center space-x-2">
              <LogoLib
                name={item}
                mode="no-link"
                classL={"h-[2.5em] w-[2.5em] mx-2.5"}
              />
              <LinkBox tabLink={linkSlice[i]} spanLink={false} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
<script>
  import { currentSelect, currentVisible } from "@assets/ts/nano";
  import { makeVisible } from "@assets/ts/misc";
  import { breakPointAdd } from "@assets/ts/breakPoint";
  import anime from "animejs";

  currentSelect.listen((val) => {
    const cardId = document.getElementById(`lib${val}`);
    if (cardId) {
      const switchFw = cardId.querySelectorAll(".fw");
      const returnBtn = cardId.querySelector(".return");
      const slotCard = cardId.querySelector(".slotCard");
      const switcher = cardId.querySelector(".switcher");
      const switchDiv = cardId.querySelector(".switch");
      let currentFw = 0;

      const switcherResize = () => {
        let screenW = window.visualViewport?.width;

        switcher.style.left =
          switcher && switchDiv && screenW && screenW > 768
            ? switchDiv.clientWidth / 2 + "px"
            : 6 + "px";

        switcher.style.transform =
          screenW > 768
            ? `translateX(0px) translateY(${currentFw * 90}px)`
            : `translateX(${currentFw * 56}px) translateY(0px)`;
      };

      returnBtn.addEventListener("click", () => {
        currentSelect.set(null);
      });

      if (switchFw.length != 0) {
        currentVisible.listen((val) => {
          breakPointAdd(switcherResize);
        });

        let i = 0;
        for (let btnFw of switchFw) {
          const fw = btnFw.dataset.fw;
          let j = i;
          btnFw.addEventListener("click", () => {
            anime({
              targets: switcher,
              easing: "easeInOutQuint",
              translateX: window.visualViewport.width < 748 ? j * 56 + "px" : 0,
              translateY: window.visualViewport.width > 748 ? j * 90 + "px" : 0,
              duration: 500,
            });
            for (let slot of slotCard.children) {
              makeVisible(slot.classList.contains(fw), slot);
            }
            currentFw = j;
          });
          i++;
        }
      }
    }
  });
</script>
