---
import type { LinkSlice } from "../components/svelte/type";
import LogoLib from "../components/svelte/LogoLib.svelte"
import LinkBox from "../components/svelte/LinkBox.svelte"

interface Props {
  title: string;
  description: string;
  fw: ("svelte" | "vuejs" | "react")[];
  linkSlice: LinkSlice[];
}

const { title, description, fw, linkSlice } = Astro.props;

---

<section
  class="h-fit bg-linear-to-br from-neutral-300/30 to-neutral-500/30 rounded-md m-2 p-2 backdrop-blur-md"
>
  <h3 class="text-2xl font-semibold">{title}</h3>
  <div
    class="flex justify-center items-center w-full bg-linear-to-br from-neutral-900/70 to-neutral-950/30 rounded-md p-10"
  >
  <div><slot /></div>
  </div>
   <div class="flex items-center">
    <p class="text-xl w-3/5">
      {description}
    </p>
    <div
      class="p-2 mt-2 w-2/5 flex flex-col items-start border-s-2 border-black"
    >
      <h5 class="text-2xl">Compatible avec</h5>
      <div class="flex flex-col justify-center my-3 space-y-2">
        {fw.map((item,i) => (
          <div class="flex items-center space-x-2">
            <LogoLib name={item} mode="no-link" classL={"h-[2.5em] w-[2.5em] mx-2.5"} />
            <LinkBox tabLink={linkSlice[i]} spanLink={false} />
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
